@require '../global'

.navbar
  position: fixed
  bottom: 0
  left: 0
  z-index: 15
  width: 100vw
  height: $navbar-height
  display: flex
  justify-content: center
  align-items: center
  background: $orange['lighten-3']
  z-depth(4)

.tab
  flex: 1 1 auto
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  border-radius: 3px
  cursor: pointer
  transition: max-width 100ms ease
  will-change: max-width
  max-width: 5rem
  height: 4rem
  position: relative
  text-decoration: none

  &.router-link-exact-active
    max-width: 7rem

    i
      transform: translateY(-90%)
      color: black

    span
      transform: scale(1)
      opacity: 1

  i, span
    pointer-events: none
    will-change: opacity, transform
    transition: all 100ms ease

  i
    will-change: transform
    position: relative
    top: 50%
    color: rgba(0, 0, 0, 0.6)
    transform: translateY(-50%)

  span
    position: relative
    font-weight: 500
    font-size: 0.875rem
    opacity: 0
    color: black
    transform-origin: bottom
    transform: scale(0)
    margin-top: 0.625rem

.navbar[dark=true]
  background: #212121

  i, span
    color: #616161

  .tab.router-link-exact-active
    i, span
      color: $orange['lighten-2']
