@require '../global'

.calculator
  max-width: 960px;
  margin: 0 auto $navbar-height;

.head
  width: 100%
  height: $header-height
  padding: 0 1.5rem
  position: sticky
  z-index: 9
  top: 0
  left: 0
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  background: linear-gradient(to bottom, rgba(250,250,250,1) 75%, rgba(250,250,250,0) 100%)

  & > div
    flex: 1 1 0

  .left
    h1
      font-size: 2.5rem

  .right
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

    .button
      border-radius: 1.5rem
      padding: 0.5rem 1rem
      display: flex
      flex-direction: row
      align-items: center
      justify-content: space-between
      cursor: pointer
      transition: box-shadow 100ms $ease

      &:hover
        z-depth(4)

      &.clear
        background: $orange['lighten-4']
        z-depth(2)

      &.set-picker
        margin-left: auto
        margin-right: 1rem

      span
        text-transform: uppercase
        font-weight: 500
        font-size: 1rem
        color: rgba(0, 0, 0, 0.87)
        letter-spacing: 1.25px
        margin-left: 0.5rem
        max-width: 8rem
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden

.body
  width: calc(100% - 3rem)
  margin: 0 1.5rem 1.5rem

  & > div
    width: 100%
    height: 100%
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-auto-rows: 1fr
    grid-auto-flow: row
    grid-gap: 1.5rem

// Themes
.calculator[dark=true]
  .head
    background: linear-gradient(to bottom, rgba(48,48,48,1) 0%,
                rgba(48,48,48,1) 75%, rgba(48,48,48,0) 100%)

    .right
      .button.set-picker
        i, span
          color: #EEEEEE

      .button.clear
        background: $orange['darken-3']

        i, span
          color: #303030

// Breakpoints
@media screen and (max-width: 960px)
  .head
    padding: 0 2.5rem

    .right .button
      padding: 0.5rem

      span
        display: none
      i
        font-size: 24px

  .body > div
    grid-template-columns: 1fr 1fr

@media screen and (max-width: 600px)
  .body > div
    grid-template-columns: 1fr

// Animations
.list-enter-active, .list-leave-active
  will-change: transform
.list-enter-active
  transition: all 150ms $ease-out
.list-leave-active
  transition: all 150ms $ease-in
.list-enter
  transform: scale(0.95)
.list-leave-to
  transform: scale(1.05)
.list-enter, .list-leave-to
  opacity: 0
.list-move
  transition: transform 500ms @ease
